.btn {
  background-color: #2F80ED;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 24px;
  max-width: 240px;
  margin-left: auto;
  cursor: pointer;
}

.icon {
  margin-left: 8px;
}